{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js') }}?ver=1.0"></script>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div id="content" style="position:relative; margin-top: 50px;">
            <div class="row">
                    <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-3 col-md-offset-2 col-lg-3 col-lg-offset-3 text-center">
                    <h3>Doctors On-Call</h3>
                    <div id="on-call-doctors" class="top-25"
                         style="border-top: 1px solid #0d89be; border-bottom: 1px solid #0d89be; padding-top: 15px; padding-bottom: 15px;">
                    </div>
                    <div id="doctors-error" class="alert alert-danger" role="alert"
                         style="display: none;">
                    </div>
                </div>

                <div class="col-xs-12 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-0 text-center">
                    <h3>Your Tools:</h3>
                    <p>
                        <a role="button" class="btn btn-info btn-lg" href="/newAppointment" style="width: 270px;"><i class="fa fa-calendar-check-o"></i> Appointment Management</a>
                    </p>
                    <p>
                       <a role="button" class="btn btn-info btn-lg" id="doctors-on-call-button" href="/oncallDoctors" style="width: 270px;display:none "><i class="fa fa-stethoscope"></i>Manage Doctors</a>
                    </p>
                    <p>
                        <a role="button" class="btn btn-info btn-lg" id="manage-coordinators-button" href="/manageCoordinators" style="width: 270px;;display:none"><i class="fa fa-user"></i> Manage clickMD Providers</a>
                    </p>
                    <p>
                        <a role="button" class="btn btn-info btn-lg" id="authorization-button" href="/authorization" style="width: 270px;;display:none"><i class="fa fa-check"></i> Provider Authorization</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}