{% extends "base.html" %}
{% block title %}CLICKMD - Help{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div id="content">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
	                <h1>CLICKMD HELP</h1>
					<a class="alert-link pointer" data-toggle="collapse" data-target="#oscar-provider-number" style="text-decoration: underline;">
                        Oscar Provider Number
                    </a>
					<div id="oscar-provider-number" class="alert alert-info inner-alert top-10 collapse">
						Please add a provider record on Oscar first and use their provider number when creating ClickMD doctor record
					</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}