{% extends "base.html" %}
{% block title %}CLICKMD - Reset Password{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/reset_password.js') }}?ver=1.0" ></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div id="content">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">

                    <div class="alert alert-danger message-field" id="set-password-not-valid" style="display: none;"></div>

                    <div class="alert alert-success message-field col-xs-12 col-lg-offset-1 col-lg-10" id="set-password-success-message" style="display: none; margin-top: 50px;">
                        <h3 class="col-xs-12 text-center" style="margin-bottom: 20px;"><strong>Your password has been reset successfully.</strong></h3>
                        <a class="col-xs-offset-2 col-xs-8 col-lg-offset-3 col-lg-6" href="/login">
                            <button role="button" class="btn btn-primary btn-block top-25">Login <i class="fa fa-sign-in"></i></button>
                        </a>
                    </div>


                    <form role="form" class="clickmd-form toggle-disabled" id="set-password-form" style="display: none;">
                        <div class="row">
                            <h1 class="page-title col-xs-12">Reset Password</h1>
                        </div>

                        <div class="custom-panel top-25" style="padding-top: 40px;">
                            <div class="form-group">
                                <label class="required" for="password">Password (Min 8 characters)</label>
                                <input type="password" class="form-control register-field" id="password" name="password_confirmation"
                                       placeholder="Password"
                                       data-validation="length complexity"
                                       data-validation-length="min8"
                                       data-validation-require-lc-letter="1"
                                       data-validation-require-numeral="1"
                                       data-validation-error-msg="Password must be at least 8 characters, and must include at least one lower case letter, and one numeric digit">
                            </div>
                            <div class="form-group">
                                <label class="required" for="confirm-password">Confirm Password</label>
                                <input type="password" class="form-control register-field" id="confirm-password" name="password"
                                       placeholder="Confirm Password"
                                       data-validation="confirmation"
                                       data-validation-error-msg="Password and Confirm Password should match.">
                            </div>
                            <div class="alert alert-danger message-field" id="fail-message" style="display:none"></div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">
                                    <span>Submit</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}